<div class="card border-0 p-2 h-100">
  <form class="d-flex justify-content-center flex-column h-100 align-items-center d-flex">
    <h3 class="text-center">Reset Your Password</h3>
    <p class="text-center w-75">Enter your new password to reset your account password</p>
    <div class="w-75">
      <label>New Password</label>
      <input
        type="password"
        class="form-control mb-3 mt-2 border-secondary"
        style="border-radius: 20px; font-size: 14px; padding: 10px 14px"
        placeholder="Enter your new password"
      />
    </div>
    <div class="w-75">
      <button
        class="btn btn-primary w-100 mt-5"
        style="border-radius: 20px; font-size: 14px; padding: 10px 14px"
      >
        Reset Password
      </button>
    </div>
  </form>
</div>
